<section class="f1-section form">
    <div class="container-fluid">
        <div class="form-container">
            <p class="desc txt-center"><span><%= translations['f1.categories.remarks'] %></span></p>
            <div class="btn-container" id="campaign-f1-form-container"><%- f1FormContainerHtml %></div>
        </div>
    </div>
</section>
