<section class="f1-section terms">
    <div class="container-fluid">
        <div class="terms-container">
            <h2 class="title"><div>
                Formula 1 Vietnam Grand Prix
                Terms of Sale & Privacy Policy
            </div></h2>
            <div class="title-deco"></div>
            <div class="row">
                <div class="col-md-12 terms-content">
                        <p>Platinium Group S.A.M, a company registered in Monaco with company number 06S04539, with its registered office at 2 Rue du Gabian, 98000 Monaco ("we", "us", "our") operates the Ticketing Services for VIETNAM GRAND PRIX LIMITED LIABILITY COMPANY (VGPC), the operator of  <a href="http://www.f1vietnamgp.com" target="_blank">www.f1vietnamgp.com</a>, is a company registered in Vietnam, with company number 0108411164, with its registered office at <b>No. 7, Bang Lang 1 Street, Vinhomes Riverside Eco-urban Area, Viet Hung Ward, Long Bien District, Hanoi, Vietnam</b>.<br>These Terms & Privacy Policy should be read and understood before any purchase is made.</p>
                        <ol class="lv1">
                        <li>
                            <h5>General</h5>
                            <ol class="lv2">
                                <li>We sell tickets and associated products and/or services relating to events held as part of the Formula 1 Vietnam Grand Prix (the “Event”). We refer to parties who host, stage and promote Events as "Promoters", with each being a "Promoter".</li>
                                <li>You acknowledge that your purchase of Products and acceptance of these Terms of Sale creates a binding agreement between you and us only and that we are solely responsible for any claims you or any third party may have relating to the Products.</li>
                                <li>In these Terms of Sale, we refer to any products and/or services offered for sale by us as "Products".Products are including "Tickets". The term "Tickets" refers to passes granting access to an Event, with each Ticket having the specifications set out in the relevant product description.</li>
                            </ol>
                        </li>
                        <li>
                            <h5>Contract between us and you</h5>
                            <ol class="lv2">
                                <li>To purchase any Product from us, you must be 15 or over and have a valid credit/debit card issued in your name.  We also accept payments by wire transfer – for more information on this, please contact us through <a href="mailto:customerservice@f1vietnamgp.com">customerservice@f1vietnamgp.com</a>.</li>
                                <li>Your contract for purchase of a Product will have effect from our confirmation of your purchase (unless Clause below applies) and ends immediately after the completion of the relevant Event, save that, if you have purchased any non-Ticket Product, your contract for the purchase of such product will end 14 days after the date of delivery of the relevant Product to you. All purchases are subject to payment card verification and other security checks and your transaction may be cancelled if it has not passed our verification process.</li>
                                <li>You agree not to obtain or attempt to obtain any Products through unauthorised use of any robot, spider or other automated device or any other illegal or unauthorised activity. We reserve the right to cancel any transaction which we reasonably suspect to have been made in breach of these provisions without any notice to you and any and all Products purchased as part of such transaction will be void.</li>
                                <li>Security Check: Upon making an order and receiving the "Order Pending" notification, your order may be placed on "security check" by our payment security department. In this case, you will subsequently receive an email or a phone call indicating documents which need to be provided to us in order for us to validate your payment. Please ensure that all documentation is provided to us in timely manner. Should you receive a "security check" email after your "order confirmation", your order shall not be deemed confirmed until the security check is cleared to our satisfaction.  We reserve the right to cancel bookings which we reasonably suspect to have been made fraudulently or in breach of these Terms of Sale.</li>
                            </ol>
                        </li>
                        <li>
                            <h5>Prices and fees</h5>
                            <ol class="lv2">
                                <li>All Purchases made in the VGPC Ticket Shop (the online ticket shop at f1vietnamgp.com) will be processed in VND (“Cashed Currency”). We reserve the rights to charge any fees associated with currency exchanges due to usage of any international cards or currencies, including but not limited to; handling fees, credit card fees and delivery fees. We also reserve the right to change the Cashed Currency without notice.</li>
                                <li>Products relating to each Event will have their prices set in a “master currency” for the Event in VND  Prices displayed in other currencies are for information only and are only for customers who can purchase the Products in such currencies under Vietnamese foreign exchange regulations.  The amount to be paid and the master currency of the Event are stated prior to purchase. In some cases, foreign exchange rate fees may also be applied by your bank, resulting in the debited amount on your bank statement differing from the amount displayed in in the Ticket Store.</li>
                                <li>Whilst we try to ensure that all prices on our website are accurate, errors may occur. If we discover an error in the price of any Product you have ordered, we will inform you as soon as possible.  If the price displayed was higher than the correct price, we will refund you the difference.  Where the Product's correct price is less than the price stated on our site, we will charge the lower amount when dispatching the Products to you. However, if the pricing error is obvious and unmistakeable and could have reasonably been recognised by you as a mispricing, we do not have to provide the Products to you at the incorrect (lower) price.  If we are unable to contact you after making reasonable endeavours to do so, you agree that we may treat the order as cancelled. If you choose to cancel after you have already paid the incorrect price, you will receive a full refund from us. </li>
                                <li>Customs Charges for ticket delivery: we are not liable for any fees applied by the border services for international deliveries. It is the responsibility of the customer to be aware of customs regulations and fees, and the customer is liable to pay any customs fees to the customs & border services of the country in question. </li>
                                <li>If you want us to dispatch and deliver invoice for your purchase of the Products, please notify us of this by contacting us through <a href="https://tickets-f1vietnamgp.com/en/41621-formula-1-vietnam-grand-prix/contact-form/" target="_blank">https://tickets-f1vietnamgp.com/en/41621-formula-1-vietnam-grand-prix/contact-form/</a> <b>within 7 days since you successfully make payment for your purchase. After such period, we will not handle your request for invoice.  After your request for invoice is handled, we aim to dispatch and deliver the invoice as soon as possible</b>, but we are not able to specify the exact dates of dispatch. Invoices are generally <b>provided to you</b> within two or four weeks of our confirmation of your request for invoice <b>according to the method stated during the invoice request process</b>. Where this is not the case, we will notify you by email. The terms applicable to delivery of Tickets under Term of Sales 9.2 and 9.3 are also applicable to delivery of invoices.</li>
                            </ol>
                        </li>
                        <li>
                            <h5>Cancellations and refunds </h5>
                            <ol class="lv2">
                                <li>Purchased ticket(s) are non-cancellable and non-refundable under any circumstances, including but not limited to:
                                    <ol>
                                        <li>the non-appearance of any particular person, group or personality such as a team, rider, performer or band (whether advertised or not);</li>
                                        <li>any variation to the on-track Event program, conveniences and attractions such as postponement or cancellation of any part of the Formula One program by race stewards;</li>
                                        <li>any variation to the off-track Event program, conveniences and attractions such as postponement or cancellation of any entertainment, amusements or interactive display;</li>
                                        <li>any adverse weather conditions; and</li>
                                        <li>any other circumstance beyond the reasonable control of the VGPC.</li>
                                    </ol>
                                </li>
                                <li>Cancellation of an Event: The Ticket is purchased for the relevant Event. No Tickets are transferable to other events.
                                    <br><br>
                                    If an event is cancelled (and not rescheduled) and should the promoter of the event offer a form of financial compensation or refund for the client order, you may be entitled to receive this amount fully or partially, depending the circumstances in question.
                                    Should an event be cancelled (and not rescheduled) and the promoter offers no form of financial compensation, we will in no way be liable or responsible for providing refunds, nor any form of compensation, be it financial or other.
                                </li>
                                <li>To claim your refund under Clause 4.2 above, please contact <a href="mailto:customerservice@f1vietnamgp.com">customerservice@f1vietnamgp.com</a>.</li>
                                <li>Subject to Term of Sale 7, if VGPC makes significant changes (as determined by VGPC in its absolute discretion) to your pre-booked reserved seating arrangements, VGPC will use all reasonable endeavours to notify you directly of such changes. If you do not accept the revised reserved seating arrangement, VGPC will offer an exchange of the Ticket for an available Ticket of the same or lower face value. If the exchanged Ticket is still not acceptable to you, VGPC will offer to refund any payments made by you for the Ticket.</li>
                                <li>In respect of a Ticket for which no monetary consideration has been paid, no refund or other costs will be paid or payable to you in the event of cancellation, postponement or change to the Event, or for any other reason whatsoever.</li>
                            </ol>
                        </li>
                        <li>
                            <h5>Liability</h5>
                            <ol class="lv2">
                                <li>Personal arrangements including travel, accommodation or hospitality relating to the Event which have been arranged by you are at your own risk. We shall not be liable to you for any loss of enjoyment or wasted expenditure.</li>
                                <li>Unless otherwise stated under clause 5, our liability to you in connection with the Event (including, but not limited to, for any cancellation of the Event) and the Product(s) you have purchased shall be limited to the price paid by you for the relevant Product(s).</li>
                                <li>You hereby acknowledge that motor racing, the Event and certain activities associated therewith (including without limitation, support events) are dangerous. Upon entering the Event, you provide the following release:
                                    <ol>
                                        <li>PG, VGPC, Hanoi People’s Committee, Vietnamese Motorsports Association Limited Liability Company, sanctioning bodies, Formula One World Championship Limited (“FOWC”) and its affiliates, including Formula One Management Limited, Formula One Licensing B.V., Formula One Asset Management Limited,  FIA, Formula One Hospitality and Event Services Limited, Formula One Marketing Limited, persons involved in the organisation of the Event (including race direction, clerks of the course, sporting technical stewards, timekeepers, officials, marshals, rescue and medical staff), the competitors and drivers (such parties to include where relevant all directors, officers, employees, agents, contractors and affiliated companies), all VIP guests from the above mentioned bodies, and all other interested parties for their rights and interests involved in the conduct, promotion and organisation of the Event, and their respective personnel, (such entities, “Associated Entities”)  are not responsible for any loss or damage howsoever caused to you or your property to the maximum extent permitted by law; and</li>
                                        <li>You release us and the other Associated Entities from any liability or claim, which you do or might, or which anybody with me does or might have or in the future might or would have against us or the other the Associated Entities.</li>
                                    </ol>
                                </li>
                                <li>You acknowledge that each of the Associated Entities may enforce the release and exclusion of liability in these Terms of Sale against you. You also acknowledge that VGPC may enforce the release and exclusion of liability in these Terms of Sale against each you on behalf of the other Associated Entities on the basis that VGPC is their agent.</li>
                                <li>We and the Associated Entities do not make any warranty that the Event or any services connected with the Event will be provided with due care and skill or that any materials or equipment provided in connection with the services will be fit for the purposes for which they are supplied. You acknowledge that,4warranty is implied by law it is excluded to the full extent permitted by law.</li>
                            </ol>
                        </li>
                        <li>
                            <h5>Admission and Attendance</h5>
                            <ol class="lv2">
                                <li>VGPC reserves the right to refuse admission to (or eject from) the Venue any person (a) not complying with the terms and conditions of Tickets or (b) who is in possession of a Ticket which has been sold or used other than in compliance with these terms and conditions. </li>
                                <li>You must not make, create, store, record or transmit any kind of sound recording, visual footage or audio-visual footage (“Recording”), or store, record or transmit any information, including official timing, results, performance, telemetry, weather or race control data (“Data”), of, at, or in relation to the Event (including cars, Drivers, Competitors). It is forbidden to take into the Circuit any equipment that may enable you to do the aforementioned acts.  Mobile telephones are permitted within the Venue unless otherwise advised, provided that any Recording, Data and any image, including photographic images and any still pictures derived or capable of being derived from a Recording (“Image”) of the Event that is recorded, stored and/or created thereon is used for personal, private and non-commercial purposes only.</li>
                                <li>As a condition of purchase of the Tickets you agree that (a) the use of any such Recording, Data or Image for any form of public advertisement, transmission, display, for profit, commercial gain or for any other purpose (except for your private enjoyment) without the prior written consent of VGPC and the Formula 1 World Championship Limited (FOWC) is strictly forbidden and will constitute a breach of these terms and conditions for which you may be liable; and (b) on request by VGPC and FOWC, you shall assign to VGPC and FOWC in writing the copyright and all other intellectual property in any Image or Recording that you create, make, store or record of, at or in relation to the Event with full title guarantee; and (c) you consent to the use by VGPC and FOWC (and by any third party authorized by FOWC from time to time) for the purposes of or in connection with any publication, exhibition or broadcast (including any advertising or promotional literature, campaign or material) in any media worldwide and approved by FOWC of any still or moving picture images taken at the Event where such image includes any image of you and you waive any and all of your personality and privacy rights to the extent necessary to permit such use.</li>
                                <li>You agree that you may be filmed and sound made by you may be recorded for broadcast (or similar transmission). You acknowledge that VGPC and third parties authorised by VGPC may make, create, store, record, transmit, reproduce or use Recording, Data and Image or any likenesses at or in relation to the Event (including, without limitation, of you). You hereby grant FOWC, VGPC and third parties authorised by them permission to use Recording, Data and Image, or other images or likenesses of you including sound recordings, in any media and for any purpose without identification, compensation or payment of any kind.</li>
                                <li>It is your responsibility to ascertain whether an Event has been cancelled and the date and time of any rearranged Event.  If an Event is cancelled or rescheduled, we will use reasonable endeavours to notify you of the cancellation once we have received the relevant authorisation from the Promoter. Please note that date of the Event and advertised start times and schedules of Events are subject to change. We and other Associated Entities will not be liable to you for any loss or damage (including indirect or consequential loss or damage) suffered as a result of or arising from or in any way connected to cancellation, postponement or change to the Event (or any part thereof).</li>
                                <li>VGPC reserves the right to add, withdraw or substitute any riders, performers or activities including any concerts or other entertainment associated with the Event, vary programs, other conveniences and attractions and audience capacity from time to time.
                                <li>Please note that date of the Event and advertised start times and schedules of Events are subject to change. Any re-admissions are at the relevant Promoter’s sole discretion.</li>
                                <li>You must not, without the prior written consent of VGPC, have in their possession at the Event, or bring into the Event any:
                                    <ol class="lv3">
                                        <li>alcoholic beverage (unless purchased at the Event);</li>
                                        <li>glass bottle or glass container (unless purchased at the Event);</li>
                                        <li>beverage container with the manufacturer's seal broken (unless purchased at the Event);</li>
                                        <li>hard cased esky or ice box (polystyrene eskies and cooler bags acceptable);</li>
                                        <li>chair, lounge, bench or stool, other than a folding chair or folding stool;</li>
                                        <li>clothing bearing any racist, indecent, or obscene language or images, or clothing that is intimidating to other people attending the Event such as outlaw car club colours;</li>
                                        <li>prohibited or controlled weapon, firearm, or any dangerous goods;</li>
                                        <li>animal, other than an assistance dog;</li>
                                        <li>metal flag or banner pole longer (or extending to longer) than 1 metre, or any flag or banner which could reasonably be used in contravention of Term of Sale 6.10(t);</li>
                                        <li>whistle, loud hailer, horn or bugle;</li>
                                        <li>flare, firework, laser pointer, or distress signal;</li>
                                        <li>public address system, electronic equipment, broadcast equipment or similar device which may interfere with broadcast equipment or similar device being used by VGPC or other persons authorised by VGPC in connection with the Event;</li>
                                        <li>vehicle including any golf buggy, bicycle, skateboard, roller skates, roller blades or scooter;</li>
                                        <li>item the possession of which does not have an ordinary and reasonable use by a person at the Event and which may be used to damage or deface property, buildings or any part of the area used for the Event (including without limitation any spray paint), disrupt or interrupt the Event, hinder, obstruct or interfere with any rider or driver taking part in the Event, adversely affect public safety, excavate any part of the area used for the Event or erect any structure;</li>
                                        <li>item in such quantity that a reasonable person could infer that the item is to be used for commercial purposes;</li>
                                        <li>goods or tickets for the purpose of sale or commercial distribution to the people attending the Event;</li>
                                        <li>unmanned aerial vehicles, drone or unmanned aircraft;</li>
                                        <li>camera lenses with a physical length greater than 400mm or any other item which might reasonably obstruct the view of any other people attending the Event; or</li>
                                        <li>photographic, video or audio recording equipment VGPC reasonably considers may be used in breach of Term of Sale 6.2, which may include (without limitation) audio recorders, camera tripods, monopods or any digital recording equipment.</li>
                                    </ol>
                                </li>
                                <li>To ensure compliance with Term of Sale 6.8, VGPC may, at any time, require you to open for inspection any vehicle, bag, basket or other receptacle, or turn out their pockets. If you fail to comply with such a request, you may be refused entry or directed to leave the Event. Any consent to any item brought into the Event given by VGPC may be revoked by VGPC at any time. If such consent is withdrawn, you must immediately relinquish the prohibited item to VGPC or leave the Event immediately.
                                <li>You must not, without the prior written consent of VGPC, at the Event:
                                    <ol class="lv3">
                                        <li>enter the racetrack area;</li>
                                        <li>remain at the area used for the Event outside the published closing times of the Event;</li>
                                        <li>leave the Event other than through a designated exit;</li>
                                        <li>remove any glass object from a reserved area;</li>
                                        <li>enter any fenced or cordoned off area, or interfere with any activity undertaken by VGPC in any fenced or cordoned off area;</li>
                                        <li>erect any structure;</li>
                                        <li>pick, damage or uproot any tree or shrub, disturb or interfere with any fauna, or excavate any part of the Formula 1 Vietnam Grand Prix (Circuit);</li>
                                        <li>climb or remain on any tree or structure;</li>
                                        <li>post, stick or place any poster, placard, bill, banner, print, paper or any advertising material on any building, structure, fence or tree;</li>
                                        <li>distribute any printed or visual matter;</li>
                                        <li>promote any advertising or promotional material, samples of goods or services or any other matter or thing or otherwise engage in ambush marketing;</li>
                                        <li>distribute, hawk, sell, offer or expose for sale any goods or services or collect money or orders from people attending the Event for goods and services;</li>
                                        <li>sell, offer or make available for sale, or give away any Ticket;</li>
                                        <li>misuse, deface, damage, or tamper with any building or thing;</li>
                                        <li>block any thoroughfare;</li>
                                        <li>litter;</li>
                                        <li>throw or kick any stone, bottle or other projectile;</li>
                                        <li>disrupt, interrupt or behave in any manner that may disrupt or interrupt any official or employee or contractor of VGPC, or any race, event or activity;</li>
                                        <li>act or conduct oneself in such a way as to hinder, obstruct or interfere with a rider of any vehicle taking part in a race or to adversely affect the safety of the public;</li>
                                        <li>deliberately obstruct the view of any person seated in a seat in the immediate vicinity, or cause unreasonable inconvenience to any person, official or employee or contractor of VGPC, or interfere with the comfort of any person or their enjoyment of the Event;</li>
                                        <li>use racist, indecent or obscene language or threatening or insulting words or otherwise behave in a threatening, abusive, riotous, indecent or insulting manner;</li>
                                        <li>interfere with or hinder VGPC personnel in the exercise of their powers, functions or duties;</li>
                                        <li>operate or use a loud hailer, public address system, broadcast device or other device which may interfere with electronic or radio communications being used by VGPC or other persons authorised by VGPC in connection with the Event;</li>
                                        <li>ignite any flare or firework, explosive of smoke bomb;</li>
                                        <li>conduct public surveys or opinion polls, solicit money, donations or subscriptions from members of the public;</li>
                                        <li>busk or conduct similar entertainment;</li>
                                        <li>become intoxicated or affected by drugs;</li>
                                        <li>supply alcohol to minors;</li>
                                        <li>refuse to follow any reasonable direction issued by VGPC; or</li>
                                        <li>smoke in a designated ‘no smoking' area.</li>
                                    </ol>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h5>Tickets</h5>
                            <ol class="lv2">
                                <li>The images and descriptions of the Products on our site are for illustrative purposes. Although we have made every effort to display the Products accurately, we cannot guarantee that a Product will not vary slightly from those images. Impressions and maps of the Event area published by VGPC are approximate only. Natural or other obstructions may impede viewing in some areas and no reliance should be placed on impressions or maps when purchasing Tickets. VGPC reserves the right to determine actual and final location of seating, viewing areas and other conveniences and attractions without notice.</li>
                                <li>Where a Ticket is sold out, we reserve the right to replace such Ticket with another Ticket for the same day(s) in another area of the same category.</li>
                                <li>Policies may prohibit from issuing replacement Tickets for any lost, stolen, damaged or destroyed tickets. Where replacement Tickets are issued, we may charge you a reasonable administration fee.</li>
                                <li>You accept that VGPC may change the location of grandstands, tribunes and general admission areas at its own discretion.</li>
                                <li>When you receive your Tickets, please keep them in a safe place. We will not be responsible for any Tickets that are lost or stolen. However, we may, in our sole and absolute discretion, replace a Ticket which has been lost or stolen (and may charge a fee for that replacement).</li>
                                <li>It is your responsibility to check your Tickets on receipt; mistakes cannot always be rectified.</li>
                                <li>Resale of purchased Tickets & e-vouchers: If you choose to resell your tickets (or e-vouchers for ticket collection) purchased on our website through any reselling platform or via other outlets, VGPC is not responsible for the fulfilment of the third-party reception of the ticket nor liable for any costs or consequences associated with the delivery of the tickets to the third party. </li>
                                <li>Purchase of Tickets through reseller platforms: If you have purchased a ticket on a resale platform (such as Viagogo or secondary market sites), VGPC is not responsible for the delivery of the ticket to you and is not liable for any costs or consequences associated with tickets purchased through resellers. You must contact the reseller platform directly in case of any issues with resold tickets. </li>
                                <li>You must only occupy the area or seat to which their Ticket applies. No representation is made to you holding general admission tickets that there is space available in any particular viewing area.</li>
                                <li>VGPC may direct you at any time at the Event to produce a valid Ticket.</li>
                                <li>Each of your entry to the Event is not transferable. If you are exiting the Event and seeks re-entry, your hand must be stamped, when exiting, to regain entry on the same day. The stamp must be shown together with a valid ticket clipped for that day to regain entry. </li>
                                <li>If you hold a concession ticket must provide identification confirming concession status at the time of entry.</li>
                                <li>VGPC will accept the following cards as proof of concession only:
                                    <ol class="lv3">
                                        <li>if you are a student: student identification card or valid confirmation of your school that you are currently their student; or</li>
                                        <li>if you are a senior: a certified copy of your personal identity card or a certified copy of your passport.</li>
                                    </ol>
                                </li>
                                <li>If a Ticket has been acquired on a concession basis and you are unable to show concession identification to the satisfaction of VGPC (at any time during the Event, you may be refused entry or directed to leave the Event by VGPC).</li>
                                <li>If you accompany children at the Event, you are responsible for the care, conduct and supervision of those children and must keep those children within sight at all times. Children may not be permitted to enter certain areas at the Event for safety or responsible service of alcohol reasons as determined or advised by VGPC in its absolute discretion.</li>
                            </ol>
                        </li>
                        <li>
                            <h5>Restrictions on Tickets</h5>
                            <ol class="lv2">
                                <li>Tickets may be sold subject to certain restrictions on entry or use, such as restricted view or a minimum or maximum age for entry. Any such restriction shall be displayed on our website or otherwise notified to you before or at the time you book the tickets. It is your responsibility to ensure that you read all notifications displayed on our website.</li>
                                <li>Tickets to Events are strictly non-transferable and not for resale.  No Ticket shall be sold or offered for sale for any form of fee or reward without the prior written consent of VGPC and without complying with these terms and conditions in all respects.  No ticket for the Event shall be used by any person for advertising, promotional or commercial purposes including without limitation, prizes, competitions, contests or sweepstakes without the prior written consent of VGPC.</li>
                                <li>You may not combine a Ticket with any hospitality, travel or accommodation service and/or any other merchandise, product or service to create a package, unless formal written permission is given by VGPC.</li>
                                <li>You may not use a Ticket for advertising, promotional or commercial purposes (for example: prizes, competitions, contests or sweepstakes), unless formal written permission is given by VGPC. (acting in absolute discretion). If granting such consent, VGPC may attach additional conditions to any Tickets as they see fit. If a Ticket has been dealt with in contravention of this Term, the bearer of the Ticket may be refused entry or directed to leave the Event.</li>
                            </ol>
                        </li>

                        <li><h5>Delivery and collection</h5>
                           <ol class="lv2">
                                <li>We aim to dispatch and deliver tickets as soon as possible but we are not able to specify the exact dates of dispatch at the moment of purchase. Tickets are generally provided to you two to four weeks prior to the Event according to the method stated during the purchase process. Where this is not the case, we will notify you by email. If your Tickets have not been delivered by seven days preceding the start of relevant Event, please notify us of this immediately by contacting us through customerservice@f1vietnamgp.com </li>
                                <li>If your delivery method is Shipping: No address modification will be valid unless and until we have confirmed it.  If your delivery destination changes, delivery fees may increase and you shall pay such additional fees.The terms and conditions of the delivery service shall be applicable to the delivery of Products.  Currently, this is DHL and the relevant terms and conditions can be found on DHL’s website (<a href="http://www.dhl.com" target="_blank">www.dhl.com</a>).</li>
                                <li>If your Delivery Method is On-Site Collection: We will notify you by telephone or email of the arrangements for collection (using the details provided by you at the time of ordering) if this becomes necessary. You may be required to provide your booking confirmation email and your photographic ID to collect tickets. It is mandatory you provide the e-voucher, placed in your VGPC online customer account, and printed by you before the Event, to redeem against the tickets to be collected. This e-voucher is strictly confidential and must not be reproduced, communicated or sold to anyone.</li>
                            </ol>
                        </li>
                        <li><h5>Events outside our control</h5>
                             <ol class="lv2">
                                <li>We will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations that is caused by an Event Outside Our Control. An Event Outside Our Control is defined below. </li>
                                <li>An “Event Outside Our Control” means any act or event beyond our reasonable control, including without limitation strikes, lock-outs or other industrial action by third parties, civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for war, fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster, or failure of public or private telecommunications networks or impossibility of the use of railways, shipping, aircraft, motor transport or other means of public or private transport.</li>
                            </ol>
                        </li>
                        <li>
                            <h5>Queries and Complaints</h5>
                            <p>If you have any queries or complaints regarding your purchase, contact us at <a href="mailto:customerservice@f1vietnamgp.com">customerservice@f1vietnamgp.com</a> quoting your order number given to you at the conclusion of placing the order.</p>
                        </li>
                        <li><h5>Governing Law and Enforceability</h5>
                             <ol class="lv2">
                                <li>All of these terms and conditions are governed by the laws of Vietnam and any disputes arising out of any transaction with us and/or VGPC are resolved by competent courts of Vietnam.</li>
                                <li>You acknowledge and agree that any part or parts of this Terms of Sale and Privacy Policy which are not enforceable (or part or parts thereof) are severable to the extent any are not enforceable and this does not invalidate the remaining thereof.</li>
                             </ol>
                        </li>
                        <li><h5>Use of <a href="http://tickets-f1vietnamgp.com" target="_blank">http://tickets-f1vietnamgp.com</a></h5>
                            <ol class="lv2">
                                <li><a href="http://tickets-f1vietnamgp.com" target="_blank">http://tickets-f1vietnamgp.com</a> is for your personal and non-commercial use only. The content and information (including, without limitation, prices, text, photos), as well as the framework used to offer such content and information, belongs to us, VGPC or our partners and affiliates.  Consequently, you agree not to use this website or platform and its contents or information for any commercial or non-personal purpose. You agree not to transform, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or re-sell any information, software, products, or services obtained from this website or platform. Additionally, you agree not to use this website or platform for any purpose that is unlawful or prohibited by these terms and conditions.</li><li>All contents of this website or affiliated platform are copyright works belonging to us, VGPC or our partners or affiliates. All rights reserved. The content of this website or platform has been carefully prepared and is regularly updated. Nevertheless, we cannot guarantee that the totality of information is perfectly accurate or free of error.</li>
                                <li>In no case shall we be liable for any direct or indirect damage arising from the use of this website or platform, including the delay or inability to use it, any information, product or service, whether based on contract, tort, strict liability, even if we have been advised of possible of damage.</li>
                            </ol>
                        </li>
                        <li><h5>Privacy & Cookies Policy</h5>
                            <p>The Formula 1 Vietnam Grand Prix (VGPC) and PLATINIUM GROUP (the "ticketing service provider,") will both have access to all of the personal data submitted on or through the Site, or otherwise in connection with the purchase of any VGPC ticket.</li>
                            <p>This privacy policy (the “Privacy Policy”) outlines how we treat your personal information and forms part of the terms and conditions of the Site. This Privacy Policy applies only to this Site, and not to the collection and use of personal information by any third party via any website to which there are links on this Site. We are not responsible for the privacy policies of other websites and encourage you to be aware when you leave our Site, and to read all applicable terms, conditions and privacy policies when using other websites.</li>
                            <p>Questions, comments and requests regarding this Privacy Policy and how we use your personal data should be addressed to us via our email: <a href="mailto:customerservice@f1vietnamgp.com">customerservice@f1vietnamgp.com</a></li>
                            <p><b>CONSENT</b>
                            <p>Your use of this Site signifies your consent to (i) our collecting and using personal information about you in accordance with this Privacy Policy, (ii) receiving future promotional and marketing material from VGPC, including via electronic messages (e.g. email, SMS, via social media sites etc), and telephoning you for an indefinite period; and (iii) the disclosure of your personal information by VGPC to research, marketing and promotional organisations unless you otherwise notifies VGPC.</li>
                            <p>PLATINIUM GROUP would like to uphold a clear and honest policy to its users regarding privacy, usage of this site and handling of personal information. Complying with current laws and regulations, the sections below represent an agreement that the website visitor approve to accept when using this webpage.</li>
                            <p>The personal data provided to, or collected by, our Services is processed by PLATINIUM GROUP SAM, 2 - Rue du Gabian, Monaco, 98000 Monaco on behalf of VGPC. If you have any concern about providing information to us or having such information used in any manner permitted in this Privacy Policy, you should not visit our websites or otherwise use our services.</li>
                            <p>This Privacy Policy describes the types of information we may collect from you or that you may provide to us when you visit our website and our practices for collecting, using, maintaining, protecting and disclosing such information. This Privacy Policy applies to information we collect: (i) through our Services, and (ii) in text and electronic messages between you and our Services.</li>
                            <p>This Privacy Policy does not apply to any other services or any information collected by us offline or via third-party sites that may be accessed through hyperlinks on our websites.
                            <p>By accessing or using our Services, you agree to this Privacy Policy.
                            <p>IF YOU DO NOT AGREE TO THIS PRIVACY POLICY, PLEASE DO NOT ACCESS OR USE OUR SERVICES.
                        </li>
                    </ol>

                    <h4>Section 1 - INTRODUCTION</h4>
                    <p>The presented conditions embody the entire set of agreements that binds PLATINIUM GROUP and the user. All modifications and added content integrated to the website will be subject to the present conditions. Certain services and sections are subject to specific additional conditions.
                    <p>Your data controller for the Services offered on this Site excluding Payment Services is

                    <p>VGPC - Vietnam Grand Prix Corporation<br>
                    << L3-01B, floor 3, Vincom Plaza Skylake, Pham Hung street, My Dinh 1 ward,<br>
                    Nam Tu Liem district, Hanoi, Vietnam<br>
                    +841900232428<br>
                    <a href="mailto:chamsockhachhang@f1vietnamgp.com">chamsockhachhang@f1vietnamgp.com</a>
                    <p>PLATINIUM GROUP should process your personal data only on documented instructions from your data controller.</p>

                    <h4>Section 2 - INFORMATION WE COLLECT ABOUT YOU ON DOCUMENTED INSTRUCTIONS OF VGPC</h4>
                    <p>We collect several types of information about visitors and/or users of our Services. We may collect this information either directly when you provide it to us or automatically as you navigate through the Website.
                    <ol class="section">
                        <li>We will collect and process your personal data when you register to purchase/create an account, subscribe to a newsletter, contact customer service, or fill out a survey. When ordering products or services on the Website, you may also be asked to provide a credit card number and other payment-related information. All Payment Information is securely processed and handled by our Payment Partners. In order to place an order, some of the information we ask you to provide is required (e.g. registering an account) and some is voluntary. If you do not provide the necessary data when requested, you will not be able to complete the transaction.</li>
                        <li>We may collect certain information that does not by itself identify a specific individual. Such information tells us about your equipment, browsing actions, and the resources that you access and use through the Services, such as your operating system and browser type. We use analytics and similar services to help us deliver a better and more personalized service.</li>
                            <p>We also collect your Internet Protocol (“IP”) address. We use your IP address to diagnose problems with our servers and/or software, to administer our Services, and to gather demographic information.</li>
                        <li>When you contact us for customer support we may collect additional information to resolve your issue.</li>
                    </ol>

                    <h4>Section 3 – HOW WE PROCESS YOUR DATA</h4>
                    <ol class="section">
                        <li>Retention of Data
                            <p>To be able to provide our service to you, we store information about you (including delivery address and other details you provide when you create an account) as long as you are an active customer and keep your account open.</p>
                            <p>Your account is stored as it is determined necessary for processing of orders and for referring customer cases and feedback from events you have visited.</p>
                        </li>
                        <li>Where your data is processed
                            <p>By submitting your personal data, you agree to the transfer, storing and processing of your data outside of the country where you reside. We will take reasonable steps to ensure that your data is treated securely and in accordance with this Privacy Policy.</p>
                        </li>
                        <li>Legal basis of the processing
                            <p>The processing of your personal data collected when you register is based on consent as you read and accept the privacy policy before you create an account and give any personal information.</p>
                            <p>Moreover, the processing of your personal data like your IP address, name, surname etc. that we collect to make the payment available, verify your identity, to ensure the security of our website etc. are based on our legitimate interest.</p>
                            <p>Indeed, to manage your account and provide you the service you demand, we have to collect personal data including name, surname, email address, address, connection data etc.</p>
                            <p>Processing your data is also necessary for us to fulfil your contract.  Without the collection of your personal data, we won’t be able to deliver the service you contracted.</p>
                        </li>
                    </ol>

                    <h4>Section 4 – HOW WE USE YOUR INFORMATION</h4>
                    <p>We only process your personal data for the purposes described in this Privacy Policy or as otherwise permitted under applicable law. The processing of your personal data for the purposes described is based on your explicit consent or on the necessity to process your personal data for the purposes of legitimate interests. We use information held about you for the following purposes:
                    <ol class="section">
                        <li>To develop, fulfil, and execute the contract of sale for the products you have purchased and for any other contract between both parties;
                        <li>To respond to your requests;
                        <li>To provide you with information about our products, which includes sending you commercial information by email or any other similar electronic means of communication (such as SMS), and by calling you. If you are a registered user, you can change your preferences for receiving commercial information by accessing the “My account” section;
                        <li>If you pay for Products using a credit card and/or debit card, we will transmit
                            your card data through Ingenico Payment Services Inc. to the appropriate credit/debit card company. Ingenico Payment Services Inc. does not retain, share, store or use personally identifiable information for any other purposes. To learn how the third-party application uses your information, please review their privacy policy here:<br>
                            <a href="https://www.ingenico.com/epayments/legal/account-holders" target="_blank">https://www.ingenico.com/epayments/legal/account-holders</a>
                            <br><br>
                            <p>Ingenico Payment Services Inc. has certified that it adheres to the Safe Harbor Privacy Principles of notice, choice, onward transfer, security, data integrity, access and enforcement. Further info visit:
                            <a href="https://payment-services.ingenico.com/int/en/cookie-policy" target="_blank">https://payment-services.ingenico.com/int/en/cookie-policy</a>
                        </li>
                    </ol>
                    <h4>Section 5 – HOW WE SHARE YOUR INFORMATION</h4>
                    <<ol class="section">
                        <li>Personally Identifiable Information: PLATINIUM GROUP will not rent or sell your personally identifiable information to others. We may store personal information in locations outside the direct control of PLATINIUM GROUP (for instance, on servers or databases co-located with hosting providers). Any personally identifiable information you elect to make publicly available on our Website, such as customer reviews, will be available to others. If you remove information that you have made public on our Website, copies may remain viewable in cached and archived pages of our Website, or if other users have copied or saved that information.
                        <li>Subcontractors:<br>
                            <p>We share personal information necessary to fulfil your order with trusted third parties. We use only processors that guarantee to implement appropriate technical and organizational measures that meet our strict requirements to ensure the protection of your rights. All our subcontractors have been screened for appropriate data protection policies and process the data we share with them only on documented instructions by Platinium Group. These subcontractors have documented their commitment to confidentiality.
                        </li>
                        <li>Non-Personally Identifiable Information:<br>
                            <p>We may share non-personally identifiable information (such as anonymous usage data, referring/exit pages and URLs, platform types, number of clicks, etc.) with interested third parties to help them understand the usage patterns for certain PLATINIUM GROUP Products and those of our partners. Such results consist solely of non-personally identifiable information. Non-personally identifiable information may be stored indefinitely.
                        </li>
                        <li>Instances Where We Are Required to Share Your Information:<br>
                        PLATINIUM GROUP or VGPC will disclose your information where required to do so by law, if subject to subpoena or other legal proceeding or if we reasonably believe that such action is necessary to (a) comply with the law and the reasonable requests of law enforcement; (b) to enforce our Terms of Service or to protect the security or integrity of our Service; and/or (c) to exercise or protect the rights, property, or personal safety of PLATINIUM GROUP, our users or others.
                        </li>
                   </ol>

                    <h4>Section 6 – HOW WE PROTECT YOUR INFORMATION</h4>
                    <p>PLATINIUM GROUP is concerned with protecting your privacy and have rigid procedures & systems for data protection by design and default in place to protect the information against unlawful or unauthorised access, accidental loss or destruction, damage, unlawful or unauthorised use and disclosure. We will also take all reasonable precautions to ensure that our staff and employees who have access to personal data about you have received adequate training. Moreover, our staff and employees are bound by obligations of confidentiality.</p>
                    <p>PLATINIUM GROUP provides sufficient guarantees to implement appropriate technical and organizational measures in such manner that processing will meet the requirements of GDPR and ensure the protection of the rights of data subject. Indeed, the following specific measures are put in place:</p>
                    <p>SSL Technology & Encryption<br>
                        When you enter sensitive information on our registration or purchase forms, we encrypt that information using Secure Socket Layer Technology (SSL).</p>
                    </p>
                    <p>Server Security & OVH<br>
                        We follow a series of proven security measures relating to the servers where your data is stored, as contracted with our server provider, OVH. These measures are also outlined in our contract with OVH.</p>
                    <p>Replication & Backup of Data</b><br>
                        We ensure the proper replication and backup of data as detailed in our data architecture policy and IT operations plan.</p>
                    <p>Physical Security Measures<br>
                        PLATINIUM GROUP uses an internal protocol for security measures to ensure that outside personnel cannot access our databases. We also apply access restrictions and educate staff members on how to properly handle personal data. All employees also sign a non-disclosure agreement as a part of their contract.</p>
                    <p>Notification in Case of Data Breach<br>
                        In case a personal data breach occurs that could result in a high risk to the rights and freedoms of natural persons, we will notify you immediately in a notification describing the nature of the data breach, the likely consequences of the personal data breach and the measures taken to address it.</p>
                    <p>We will not notify you of the breach if our technical and organisational protection measures eliminate the risk of the breach, if the high risk to the rights and freedoms of data subjects is no longer likely to materialize or if it would involve disproportionate effort. In such a case, we will instead organize a public communication or similar measure where the data subjects are informed in an equally effective manner.</p>
                    <p>Disclaimer<br>
                        Please note that even though PLATINIUM GROUP uses industry-leading measures to protect data, we cannot ensure or warrant the security of any information you transmit to PLATINIUM GROUP or guarantee that your information on the PLATINIUM GROUP Service may not be accessed, disclosed, altered or destroyed by breach of any of our industry standard physical, technical or managerial safeguards. No method of transmission over the Internet or method of electronic storage, is 100% secure, however. Therefore, we cannot guarantee its absolute security. If you have any questions about security on our Site, you can contact us at: <a href="http://gdpr@pg-mc.com" target="_blank">gdpr@pg-mc.com</a></p>

                    <h4>Section 7 – UPDATING OR CORRECTING YOUR PERSONAL DATA</h4>
                    <p>As your data Controller, we want to uphold an honest and transparent policy about your freedoms and rights as a user. This policy outlines the purposes of the processing for which the personal data are intended as well as the legal basis for the processing, and under sections 6, 7 and 8 you may get an overview of your rights and how to exert them.
                    <p>For any questions or requests regarding personal data, you may send a request to:<br>
                    <a href="mailto:customerservice@f1vietnamgp.com">customerservice@f1vietnamgp.com</a> or send mail to: <a href="mailto:chamsockhachhang@f1vietnamgp.com">chamsockhachhang@f1vietnamgp.com</a></p>
                    <p>We also offer settings to control and manage the personal data we have stored about you, including the ability to:</p>
                    <p><b>Delete Data:</b> You can ask us to erase or delete all or some of your personal data (e.g., if it is no longer necessary to provide Services to you).</p>
                    <p><b>Amend or Rectify Data:</b> You can edit some of your personal data through your account. You can also ask us to amend your data in certain cases, particularly if it is inaccurate.
                    <p><b>Object to, Limit or Restrict Use of Data:</b> You can ask us to stop using all or some of your personal data (e.g., if we have no legal right to keep using it) or to limit our use of it (e.g., if your personal data is inaccurate or unlawfully held).
                    <p><b>Right to Access and/or Obtain Your Data:</b> You can ask us for a copy of your personal data and can ask for a copy of personal data you provided in machine readable form.
                    <p><b>Consent:</b> We always give you the option to accept or deny your consent to our collection of data when you:
                    <ol class="section">
                        <li>Become a customer, create an account and tick the box “I accept the Terms and Conditions and the Privacy Policy”</li>
                        <li>When you browse our website and view the Cookie Message.</li>
                    </ol></p>
                    <p><b>Right to Restriction of processing</b> <br>
                        You have the right to obtain restriction of (limited) processing of a certain data category if:
                        <ol class="section">
                            <li>The accuracy of the personal data is contested (allowing for a period enabling us to verify the accuracy of the personal data)</li>
                            <li>The processing is unlawful, and you oppose the erasure of the personal data and requests the restriction of their use instead;</li>
                            <li>We no longer need the personal data for the purposes of the processing, but it is required for the establishment, exercise or defence of legal claims;</li>
                            <li>You exercised your right to object, and the verification whether the legitimate grounds of PLATINIUM GROUP override those of yours, are pending.</li>
                        </ol>
                    </p>
                    <p><b>Right to Data Portability</b> <br>
                    You have the right to receive the personal data concerning you, which you have provided us, in a structured, commonly used and machine-readable format. You also have the right to transmit this data to another controller, the processing is based on consent and/or carried out by automated means.</p>
                    <p><b>Right to Object</b> <br>
                    As an internet user, you have the right to object, on grounds relating to your particular situation, to processing of personal data concerning you that is based on legitimate interest and used for direct marketing or profiling.</p>
                    <p>If such a claim is made by you, PLATINIUM GROUP shall no longer process the personal data unless we can demonstrate compelling legitimate grounds for the processing that override your interests, rights and freedom or for the establishment, exercise or defence of legal claims.</p>
                    <p>You can learn more about how to make these requests in subsequent sections of this Privacy Policy. You may also contact us using the contact information listed above or at the end of this policy, and we will consider your request in accordance with applicable laws (reply within 30 days).</p>
                    <p>You may change your personal data associated with your account on your “My Account” section.</p>
                    <p>You may also access, request deletion, and correct your personal data by submitting a data request through our Customer Care team or by writing to us at the addresses at the end of this Privacy Policy.</p>
                    <h4>Section 8 – CANCELING YOUR ACCOUNT OR DELETING YOUR PERSONAL DATA</h4>
                    <p>You may choose to close your account in which case we will delete your information, within 60 days of your request. However, we may retain your personal data even after you have closed your account if reasonably necessary to comply with our legal obligations (including law enforcement requests), meet regulatory requirements, resolve disputes, maintain security, prevent fraud and abuse, enforce our Terms of Service or Website Use Policy, or fulfil your request to “unsubscribe” from further messages from us. We will retain de-personalized information after your account has been closed. You can close your account by requesting it through our contact page or by emailing us at <a href="mailto:customerservice@f1vietnamgp.com">customerservice@f1vietnamgp.com</a></p>
                    <p>If you would like to access the information that we have about your use of and access to our Services, please request it through our contact for <a href="https://tickets-f1vietnamgp.com/en/41621-formula-1-vietnam-grand-prix/contact-form/" target="_blank">https://tickets-f1vietnamgp.com/en/41621-formula-1-vietnam-grand-prix/contact-form/</a> or by writing to us at the addresses at the end of this Privacy Policy. You can also ask us to stop using all or some of your personal data (e.g., if we have no legal right to keep using it) or to limit our use of it (e.g., your personal data is inaccurate or unlawfully held) by submitting a data request through Customer Support or by writing to us at the addresses at the end of this Privacy Policy.</p>
                    <h4>Section 9 – CHOICES REGARDING CONTROL OF YOUR PERSONAL DATA</h4>
                    <p>You can access some of the information that we collect about you. For example, by logging into your account, you can access information regarding recent orders; certain personal data we maintain about you; your communication preferences; and other settings.</p>
                    <p>You can ask us for a copy of your personal data in machine readable format on our contact form <a href="https://tickets-f1vietnamgp.com/en/41621-formula-1-vietnam-grand-prix/contact-form/" target="_blank">https://tickets-f1vietnamgp.com/en/41621-formula-1-vietnam-grand-prix/contact-form/</a>. If you have questions on this process, please contact our Customer Care team. You may also contact us by submitting a data request by writing to us at the addresses at the end of this Privacy Policy, and we will consider your request in accordance with applicable laws.</p>
                    <p>With respect to your communications preferences, you can unsubscribe from newsletters by following the instructions included in the newsletter you receive, or you can log into your account and update your newsletter and email subscription options. If your email address has changed and you would like to continue to receive newsletters, you will need to access your account, update your email address information in your account, and sign up again for the newsletter.</p>
                    <p>Occasionally, we may send out service emails regarding the fulfilment of your order. These emails you cannot unsubscribe from as they are necessary for us to be able to provide our full service to you.</p>
                    <p>You also have choices with respect to cookies, as described in our Cookie Policy. By modifying your browser preferences, you may be able to choose to accept all cookies, to be notified when a cookie is set, or to reject all cookies. If you choose to reject all cookies some parts of our Websites may not work properly in your case.</p>
                    <p>PLATINIUM GROUP agrees to respect the privacy of your personal information and to guarantee your rights to access, rectify, cancel, and oppose by writing to us via our contact form at the end of this Privacy Policy with the subject “GDPR Rights”. If necessary, we may request that you provide a copy of your ID card, passport, or another valid document to identify you.</p>
                    <p>You hereby guarantee that the personal information you provide is correct and accurate, and you agree to inform us of any change to said information. You will be held solely responsible for any loss or damage caused to the Website, the person in charge of the Website, or to a third party, as a result of providing incorrect, inaccurate, or incomplete information on the registration forms.
                    <h4>Section 10 - Controller</h4>
                    <p>PLATINIUM GROUP processes Personal Data as a Processor and VGPC as a Controller, as defined in the Directive and the GDPR:</p>
                    <p>The PLATINIUM GROUP entity, which you as a user entered an agreement with when using PLATINIUM GROUP’s platform, will be the Processor for User data, as outlined above in the “INFORMATION WE COLLECT ABOUT YOU” section.</p>
                    <p>PLATINIUM GROUP adheres to the Directive of 1995 and the GDPR from May 25th, 2018. Consequently, PLATINIUM GROUP processes all data provided by its Users with accounts in its European Data Region, in the European Economic Area (EEA) only.</p>
                    <p>All data collected by PLATINIUM GROUP will be stored exclusively in secure hosting facilities provided by OVH Cloud Services. PLATINIUM GROUP has a data processing agreement in place with its provider, ensuring compliance with the Directive. All hosting is performed in accordance with the highest security regulations. All transfers of data internally in the EEA is done in accordance with this data processing agreement.</p>
                    <h4>Section 11 – TRANSFER OF DATA INTERNATIONALLY</h4>
                    <p>If you are visiting our website from outside the European Union, please be aware that you are sending information (including Personal Data) to France where our servers are located. That information may then be transferred to other countries outside of your country of residence, depending on the type of information and how it is stored by us. However, our collection, storage and use of your Personal Data will at all times continue to be governed by this Privacy Policy.</p>
                    <h4>Section 12 – COOKIES POLICY</h4>
                    <p>Cookies & Pixel Data <br>
                        When you agree to our use of cookies on our website, you can be assured that we only keep this data as long as we deem necessary. According to our policy, any cookies placed on your device are deleted automatically after 30 days. Pixel data we collect are only retained for a maximum of 90 days, according to an automated process. Any of this data is anonymous; we cannot identify you as an individual from Pixel or Cookies data.</p>
                    <p>To make this site work properly, we sometimes place small data files called cookies on your device. Cookies collection is a common practice by established websites to enhance the user experience. A message is displayed on the bottom of the webpage when you enter, to alert you about this feature. By using our site, you agree to our use of cookies according to this policy.</p>
                    <ol class="section">
                        <li>About Cookies<br>
                                A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site. Cookies are used to enhance your user experience, and by remembering your preferences they can ensure that you can navigate faster between pages and get a more enjoyable website browsing. The cookie information has a life range of 30 days.
                        </li>
                        <li>Types of Cookies used<br>
                            <p>Strictly necessary cookies<br>
                                These cookies are strictly necessary to provide the services that you have specifically asked for on our website and essential to enable you to move around our website and use its features, such as check-out and product purchase. Without these cookies, certain services you have asked for, like shopping baskets or check-out, cannot be provided.</p>
                            <p>Performance cookies<br>
                                These cookies collect anonymous information on the pages visited. They collect information about how visitors use the website as a whole. Hence, they don't collect information that identifies a visitor and are only used to improve how the website works.</p>
                            <p>Functionality cookies<br>
                                These cookies remember choices you make to improve your experience. They allow our website to remember choices you make (such as your user name, language or the region you are in) and provide enhanced, more personal features. These cookies can also be used to remember changes you have made to text size, fonts and other parts of web pages that are customisable.</p>
                            <p>Third Party Cookies<br>
                                When you use our website, you may notice content provided by somebody other than PLATINIUM GROUP, for example a third-party company, and you may be sent cookies by these companies. Also, if you 'share' PLATINIUM GROUP content through social networks – such as Facebook and Twitter - you may be sent cookies from these websites.</p>
                            <p>It's important for you to know that we have no access to or control over cookies used by these third-party websites, nor can these third parties access the data in cookies used by PLATINIUM GROUP. We suggest that you consult the third-party websites for more information about their cookies and how to manage them.
                        </li>
                        <li>Controlling Cookies<br>
                            You can control and/or delete cookies as you wish by setting up your browser accordingly – for details, see aboutcookies.org. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed on your device. If you do this, however, you may have to manually adjust some preferences every time you visit a site and you may not be able to enjoy all the features of our website.
                        </li>
                        <li>Hyperlinks<br>
                            <ol class="lv3">
                                <li>Links to External Websites<br>
                                    This website or affiliated platforms may contain hyperlinks to websites operated by parties other than PLATINIUM GROUP. Such hyperlinks are provided for your reference only. PLATINIUM GROUP does not control these websites and is not accountable for their contents or how they collect and handle your data.
                                </li>
                                <li>Hyperlink authorization<br>
                                    Links towards this site and towards other sites must be subject to pre-existent authorization from PLATINIUM GROUP. The website can supply the user, as well as third parties, with links towards other sites and other internet sources. PLATINIUM GROUP does not control these websites and cannot be held accountable, nor carry any responsibility pertaining to the content, publicity, products, services or all other available material from these third-party websites. PLATINIUM GROUP cannot be held responsible for any proven damages or invoked losses, linked to the use or trust given to these third-party websites or to their available goods and services. If a link were to direct the user towards illegal content, in offense with current legislation, the user should then interrupt his visit of the site, at his/her own risk of undergoing the provided sanctions for such an offense and having to respond to legal action initiated against him/her in justice. In such a case, PLATINIUM GROUP invites the user to inform the company as well as the competent authorities of such an illegal site immediately.
                                </li>
                            </ol>
                        </li>
                    </ol>


                    <p>Changes to our Privacy & Cookies Policy.<br>
                        All changes to this Privacy Policy are effective when they are posted on this page. When we change the policy in a material manner, we will let you know via email and/or a prominent notice on our Site, when the change becomes effective.</p>

                    <b>Privacy Contact</b><br>You can contact us at any time to:
                    <ol><li>Request access to information that PLATINIUM GROUP has about you</li>
                        <li>Correct any information that PLATINIUM GROUP has about you</li>
                        <li>Delete information that PLATINIUM GROUP has about you</li>
                    </ol>
                    <p>If you have any questions about this Privacy Policy, the practices of this Site, or your dealings with this website, please contact us at: <a href="mailto:customerservice@f1vietnamgp.com">customerservice@f1vietnamgp.com</a>
                    or send mail to: <a href="mailto:chamsockhachhang@f1vietnamgp.com">chamsockhachhang@f1vietnamgp.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
