<header class="f1-header-section" style="overflow: visible">
    <% include ../include/header.ejs %>
</header>
<section class="breadcrumb-section">
    <div class="container-fluid">
        <div class="breadcrumb-container">
            <a class="breadcrumb" href="<%= langUrl %>/f1" title="F1 <%= translations['common.home'] %>">F1 <%= translations['common.home'] %></a>
            <span class="breadcrumb arrow"></span>
            <span class="breadcrumb active" id="breadcrumb-second-lv"><%= translations['f1.terms.title'] %></span>
        </div>
    </div>
</section>

