<div class="total-box">
    <div class="row">
        <div class="col-md-12">
            <div class="greyborderbox">
                <div class="row">
                    <div class="col-md-6 col-sm-12 hidden-xs"><a>All</a> <a>Delete Selected Activity</a><a>Clear Expired Activities</a></div>
                    <div class="col-md-4 col-sm-6 col-xs-6 "><b>0</b> Activity Total: <span class="price">HK$ 0.0</span></div>
                    <div class="col-md-2 col-md-offset-0 col-sm-offset-3 col-sm-3 col-xs-6 txt-right">
                        <button class="btn btn-lg">Pay Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>