<section class="section signature">
    <div class="container-fluid">
        <div class="main-logo-container destination" data-aos="fade-up" data-aos-duration="500">
            <div class="main-logo">
                <img src="/images/campaign/coffeehouse/icon-signature.png">
            </div>
            <h2><%= translations['campaign.coffeehouse.signature'] %></h2>
        </div>
        <div class="signature-list-container">
            <div class="signature-list drag-list">
                <li class="list-item peach" data-aos="fade-up" data-aos-duration="800">
                    <div class="list-content">
                        <div class="banner">
                             <% switch (locale) {
                                case 'zh-hk' : %>
                                    <img src="/images/campaign/coffeehouse/peach_tc.jpg" alt="" class="bg"/>
                                <% break;
                                case 'zh-cn' : %>
                                    <img src="/images/campaign/coffeehouse/peach_tc.jpg" alt="" class="bg"/>
                                <% break;
                                case 'vi-vn' : %>
                                    <img src="/images/campaign/coffeehouse/peach_vn.jpg" alt="" class="bg"/>
                                <% break;
                                default : %>
                                    <img src="/images/campaign/coffeehouse/peach_en.jpg" alt="" class="bg"/>
                                <% break;
                              } %>

                        </div>
                    </div>
                </li>
                <li class="list-item matcha" data-aos="fade-up" data-aos-duration="800">
                    <div class="list-content">
                        <div class="banner">
                            <% switch (locale) {
                                case 'zh-hk' : %>
                                    <img src="/images/campaign/coffeehouse/matcha_tc.jpg" alt="" class="bg"/>
                                <% break;
                                case 'zh-cn' : %>
                                    <img src="/images/campaign/coffeehouse/matcha_tc.jpg" alt="" class="bg"/>
                                <% break;
                                case 'vi-vn' : %>
                                    <img src="/images/campaign/coffeehouse/matcha_vn.jpg" alt="" class="bg"/>
                                <% break;
                                default : %>
                                    <img src="/images/campaign/coffeehouse/matcha_en.jpg" alt="" class="bg"/>
                                <% break;
                            } %>
                        </div>
                    </div>
                </li>
                <li class="list-item coffee" data-aos="fade-up" data-aos-duration="800">
                    <div class="list-content">
                        <div class="banner">
                            <% switch (locale) {
                                case 'zh-hk' : %>
                                    <img src="/images/campaign/coffeehouse/coffee_tc.jpg" alt="" class="bg"/>
                                <% break;
                                case 'zh-cn' : %>
                                    <img src="/images/campaign/coffeehouse/coffee_tc.jpg" alt="" class="bg"/>
                                <% break;
                                case 'vi-vn' : %>
                                    <img src="/images/campaign/coffeehouse/coffee_vn.jpg" alt="" class="bg"/>
                                <% break;
                                default : %>
                                    <img src="/images/campaign/coffeehouse/coffee_en.jpg" alt="" class="bg"/>
                                <% break;
                            } %>
                        </div>
                    </div>
                </li>
                <li class="list-item dragonfruit" data-aos="fade-up" data-aos-duration="800">
                    <div class="list-content">
                        <div class="banner">
                            <% switch (locale) {
                                case 'zh-hk' : %>
                                    <img src="/images/campaign/coffeehouse/dragonfruit_tc.jpg" alt="" class="bg"/>
                                <% break;
                                case 'zh-cn' : %>
                                    <img src="/images/campaign/coffeehouse/dragonfruit_tc.jpg" alt="" class="bg"/>
                                <% break;
                                case 'vi-vn' : %>
                                    <img src="/images/campaign/coffeehouse/dragonfruit_vn.jpg" alt="" class="bg"/>
                                <% break;
                                default : %>
                                    <img src="/images/campaign/coffeehouse/dragonfruit_en.jpg" alt="" class="bg"/>
                                <% break;
                            } %>
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>
