<header class="header-section">
    <% include ../include/header.ejs %>
    <div class="section-background">
        <div class="overlay-content">
            <div class="bg-container">
                <% if (locale == 'zh-hk' || locale == 'zh-cn') { %>
                        <img src="/images/campaign/propertytour/banner_tc.jpg" class="bg except-mobile-v"/>
                        <img src="/images/campaign/propertytour/banner_mobile_tc.jpg" class="bg mobile-v"/>
                <% } else { %>
                        <img src="/images/campaign/propertytour/banner_en.jpg" class="bg except-mobile-v"/>
                        <img src="/images/campaign/propertytour/banner_mobile_en.jpg" class="bg mobile-v"/>
                <% } %>

            </div>
        </div>
    </div>
</header>
