<section class="breadcrumb-section">
    <div class="container-fluid">
        <div class="breadcrumb-container">
            <a class="breadcrumb" href="<%= langUrl %>/" title="<%= translations['common.home'] %>"><%= translations['common.home'] %></a>
            <span class="breadcrumb arrow"></span>
            <span class="breadcrumb active" id="breadcrumb-second-lv"><%= cityData.name %></span>
        </div>
    </div>
</section>
