<div class="whitebox">
    <h4><%= translations['package.faqs'] %></h4>
    <%- converter.makeHtml(tplData.faq) %><br>
    <button class="btn btn-s white" href="#"><%= translations['package.fayfay.help.center'] %></button>
</div>