<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="<%= translations['common.error'] %>">
  <meta name="keywords" content="<%= translations['common.error'] %>">
  <title><%= translations['common.error'] %> | Fayfay.com</title>

  <% include include/gtm.header.ejs %>

  <% include include/css.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/error.css">
</head>

<body>
<% include include/gtm.body.ejs %>

    <div id="page">
      <% include error/error.content.ejs %>
      <% include include/footer.ejs %>
    </div>

    <% include include/js.ejs %>

</body>
</html>
