<section id="home-partnership-section">
    <div class="container-fluid">
        <div class="main-logo-container">
            <h2><%= translations['home.our.partners'] %></h2>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="loaded-list logo-slick-main">
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_VTCharm.jpg" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_vibrantHCMC.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_hcmcTRC.jpg" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_danang_city.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_ThuaThienHueTourism.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loaded-list logo-slick">
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_vna.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item saigon">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_saigon.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_novotel.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_premium_residences.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_MIA.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_vietnamobile.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loaded-list logo-slick">
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_EMG.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_coffee_house.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_cauDatFarm.png" class="lazy bg h">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_songViet.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_ginkgo.png" class="lazy bg h">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_HANcoffee.png" class="lazy bg v">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img data-src="/images/logo/logo_VSH.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
