<section id="home-media-section">
    <div class="container-fluid">
        <div class="main-logo-container">
            <h2><%= translations['home.media'] %></h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="loaded-list logo-slick">
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/logo/logo_vir.jpg" class="lazy bg v">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/logo/logo_metro.png" class="lazy bg h">
                            </div>
                        </div>
                    </div>

                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/logo/logo_mi.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/logo/logo_vietnam_news.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/logo/logo_bizhub.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/logo/logo_vietnam_net.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/logo/logo_theStandard.png" class="lazy bg">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/logo/logo_HKEJ.png" class="lazy bg h">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/logo/logo_ww.png" class="lazy bg h">
                            </div>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/logo/logo_uMag.png" class="lazy bg h">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
