@import '../include/variable';

body {
    overflow-x: hidden;
    width: 100%;
}

$light-green: #7ecbc7;
$green: #43aa97;
$deep-green: #13716c;


#one-year-anniversary {
    bbackground-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background: $light-green;
    background-image: url('/images/campaign/oneyearanniversary/bg.jpg');


    header {
        height: 100%;

        .header-top-area {
            box-shadow: none;
            background: $white;
            border: 0;
            position: static;

            .header-container {
                width: 100%;
                padding: 0 2%;

                .badge-notify{
                    position: absolute;
                }
            }

            .top-search-box{

                right: 30px !important;
                z-index: -99 !important;

                &.open{
                    z-index: 99 !important;
                }
            }

            .badge-notify{
                position: absolute;
            }

            &.scroll {
                box-shadow: 0 2px 6px rgba(0, 0, 0, .12);
                background-color: hsla(0, 0%, 100%, .9);

                .logo {
                    background-image: url('/images/logo_nobird.png');
                }

                .navbar-right {
                    color: $main-font-color;

                    li {
                        a {
                            color: $main-font-color;
                        }
                    }
                }

            }
        }

        .section-background {
            padding-top: 0;
            z-index: 0;

            .bg-container {

                &:before {
                    padding-top: 28% !important;

                    @media screen and (max-width: $mobile-v) {
                       padding-top: 75% !important;
                    }
                }

                .except-mobile-v {
                    display: block;

                    @media screen and (max-width: $mobile-v) {
                        display: none !important;
                    }
                }

                .mobile-v {
                    display: none;

                    @media screen and (max-width: $mobile-v) {
                        display: block !important;
                    }
                }

                .bg {
                    top: -100%;

                }
            }
        }
    }

    section{
        padding: 30px 0;

        .main-logo-container{
            margin-bottom: 10px;
            -webkit-justify-content: center;
            justify-content: center;
            text-align: center;

            h2{
                font-size: 1.75em;

                @media screen and (max-width: $mobile-v) {
                    font-size: 1.5em;
                }
            }

            .main-logo{

                img{
                    max-height: 40px;
                    width: auto;
                }

                &.danang{
                    img{
                        width: 80px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    section.coupon{

        .content_p{

            width: 90%;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 30px;

            padding: 30px;
            background: rgba(126, 203, 199, 0.7);

            p{
                text-align: center;
                color: $white;
                font-size: 1.2em;
            }

        }

        .coupon-container {

            width: 90%;
            margin: 0px auto;
            margin-top: 50px;
            margin-bottom: 20px;

            display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox; /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Chrome */
            display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
            justify-content: center;
            align-items: stretch;

            @media screen and (max-width: $tablet-v) {
                width: 100%;
                flex-wrap: wrap;
                margin-top: 20px;
            }

            .coupon-bg{
                width: 30%;
                position: absolute;

                @media screen and (max-width: $mobile-v) {
                    width: 25%;
                }

                &:before{
                    padding-top: 100%;
                    content: "";
                    display: block;
                }

                &.left{
                    max-width: 140px;
                    left: 0;
                    margin-top: -8%;
                    background-image: url('/images/campaign/oneyearanniversary/balloon_1.png');
                }

                &.right{
                    max-width: 100px;
                    right: 0;
                    margin-top: -5%;
                    background-image: url('/images/campaign/oneyearanniversary/balloon_2.png');

                    @media screen and (max-width: $mobile-v) {
                        margin-left: 40%;
                    }
                }
            }

            .coupon {

                flex: 0 0 50%;

                display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
                display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
                display: -ms-flexbox; /* TWEENER - IE 10 */
                display: -webkit-flex; /* NEW - Chrome */
                display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
                justify-content: center;
                text-align: center;

                @media screen and (max-width: $mobile-h) {
                    flex: 0 0 100%;
                    margin-bottom: 20px;
                }

                .coupon-bg {
                    background-size: contain;
                    background-repeat: no-repeat;

                    &.right {
                        background-position: right;
                    }
                    &.left {
                        background-position: left;
                    }

                }

                .code-container {

                    width: 90%;
                    background: rgba(175,252,240,0.8);
                    border: 5px solid #7ed5cd;

                    .code{
                        padding: $padding;
                        color: $green;

                        @media screen and (max-width: $tablet-v) {
                            padding-top: 20px;
                        }
                    }

                    .currency {
                        font-size: 1.75em;
                        padding-left: 20%;
                        text-align: left;
                        color: $green;

                        @media screen and (max-width: $tablet-h) {
                            font-size: 1.25em;
                        }
                    }

                    h1 {
                        font-size: 6.5em;
                        font-weight: 900;
                        color: $deep-green;

                        @media screen and (max-width: $tablet-h) {
                            font-size: 4.5em;
                            padding-top: 0;
                        }

                        @media screen and (max-width: $mobile-h) {
                            font-size: 3.5em;
                        }

                        span {
                            font-size: 0.3em;
                            text-transform: uppercase;

                            margin: 0 5px;
                        }

                    }

                    h3 {
                        color: $deep-green;
                        font-weight: 500;
                        margin-top: 5px;
                        margin-bottom: 10px;
                        width: 100%;
                        font-size: 1.5em;

                        @media screen and (max-width: $desktop-s) {
                            min-height: 46px;
                            width: 75%;
                            margin: 0 auto;
                        }

                        &.one{
                            @media screen and (max-width: $desktop-s) {
                                line-height: 46px;
                            }
                        }
                    }

                    .promo-code-container{
                        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
                        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
                        display: -ms-flexbox; /* TWEENER - IE 10 */
                        display: -webkit-flex; /* NEW - Chrome */
                        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

                        justify-content: center;
                        text-align: center;
                        align-items: center;

                        @media screen and (max-width: $mobile-h) {
                            flex-wrap: wrap;
                        }

                        h4 {
                            color: $deep-green;
                            font-weight: 900;
                            font-size: 2.5em;

                            @media screen and (max-width: $mobile-v) {
                                width: 100%;
                                flex: 0 0 100%;
                            }
                        }

                        h5 {
                            color: $deep-green;
                            font-weight: 300;
                            font-size: 1.4em;
                            margin-right: 5px;

                            @media screen and (max-width: $mobile-v) {
                                width: 100%;
                                flex: 0 0 100%;
                            }
                        }
                    }

                    .copy-btn, .copy-btn2 {
                        width: 50%;
                        border: none;
                        border-bottom: 3px solid $deep-green;
                        background: $green;

                        padding: 0 30px;
                        margin: 0 auto;
                        position: relative;
                        cursor: pointer;

                        span {
                            color: $white;
                            font-size: 1.5em;
                            line-height: 2;
                        }

                        &:hover {
                            cursor: pointer;
                        }

                        &.show {
                            display: inline-block;
                        }
                    }

                    p.remarks {
                        color: $green;
                        font-weight: 300;

                        margin-top: 10px;
                        margin-bottom: 10px;
                        text-align: center;
                    }

                    /* Tooltip text */
                    .tooltiptext, .tooltiptext2 {
                        width: 50%;
                        margin-left: 25%;
                        margin-bottom: 10px;
                        color: $white;
                        background: $light-green;
                        text-align: center;
                        padding: 5px 30px;
                        border-radius: 6px;
                        position: relative;
                        z-index: 1;
                        font-size: 0.9em;
                        opacity: 0;

                        transition: $fadeIn;
                        -webkit-transition: $fadeIn;

                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 100%;
                            left: 50%;
                            margin-left: -5px;
                            border-width: 5px;
                            border-style: solid;
                            border-color: transparent transparent $light-green transparent;
                        }

                        &.show {
                            opacity: 1;
                        }
                    }
                }
            }
        }

    }

    section.experiences{

        padding: 0;

        .btn-address {
            display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox; /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Chrome */
            display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
            width: 80%;
            margin: 0 auto;
            margin-bottom: $padding;
            justify-content: center;

            @media screen and (max-width: $tablet-v) {
                width: 100%;
                flex-wrap: nowrap;
                overflow-x: scroll;
                justify-content: flex-start;
            }

            .list-item {
                flex: 0 0 19%;
                width: 19%;
                text-align: center;
                background: none;
                cursor: pointer;
                min-width: 0;

                @media screen and (max-width: $tablet-v) {
                    flex: 0 0 calc(100% / 4);
                    min-width: 0;
                    font-size: 1.1em;
                }

                @media screen and (max-width: $mobile-v) {
                    flex: 0 0 calc(100% / 2.5);
                    min-width: 0;
                }

                @media screen and (max-width: $mobile-xs) {
                    font-size: 0.8em;
                }

                .list-content {
                    box-shadow: none;
                }

                .banner-bg {
                    width: 80%;
                    margin: 0 auto;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;

                    padding: 5px;

                    overflow: hidden !important;

                    display: block;
                    position: relative;

                    //Gradient Yellow
                    background: $green;

                }

                .banner {
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;

                    overflow: hidden;
                    background: $green;
                    background-size: cover;
                    background-repeat: no-repeat;

                    .bg {
                        position: absolute;
                        top: -100%;
                        left: 0;
                        right: 0;
                        bottom: -100%;
                        margin: auto;
                        margin-left: 50%;
                        transform: translateX(-50%);
                        max-width: 200%;
                        max-height: 120px;
                        width: auto;
                        transition: $fadeIn;
                        -webkit-transition: $fadeIn;

                        @media screen and (max-width: $mobile-h) {
                            max-width: 80px;
                        }
                    }

                    &:before {
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;

                        content: "";
                        padding-top: 100%;
                        display: block;
                    }

                    &:after {
                        content: "";
                        padding-top: 100%;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;
                    }
                }

                h3.title-s {
                    font-size: 1.25em;
                    text-transform: uppercase;
                    font-style: italic;
                    font-weight: 600;

                    color: $deep-green;

                    @media screen and (max-width: $mobile-h) {
                        font-size: 0.7em;
                    }
                }
            }
        }

        .section-experience{
            margin: 0 auto;
            margin-bottom: 30px;
            width: 90%;
            background: rgba(126, 203, 199, 0.7);

            @media screen and (max-width: $tablet-v) {
                width: 100%;
            }

            .experience-title {
                display: none;
            }

            .experience-title-s {

                text-align: center;
                margin: 0 auto;
                padding-top: 25px;
                margin-bottom: 25px;

                display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
                display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
                display: -ms-flexbox; /* TWEENER - IE 10 */
                display: -webkit-flex; /* NEW - Chrome */
                display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

                justify-content: center;
                align-items: center;
                width: 40%;

                @media screen and (max-width: $tablet-v) {
                    width: 70%;
                }

                h5 {
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 1.75em;
                    color: $white;

                    @media screen and (max-width: $mobile-h) {
                        font-size: 1.5em;
                    }
                }

                .address-icon {
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 17%;
                    margin-right: 3%;

                    &:before {
                        content: "";
                        display: block;
                        padding-top: 100%;
                    }

                    @media screen and (max-width: $mobile-h) {
                        width: 12%;
                        margin-right: 3%;
                    }
                }
            }

            .experience-list-container {
                flex: 0 0 100%;
                overflow: hidden;

                @media screen and (max-width: $mobile-h) {
                    overflow-x: scroll;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                .experience-list {
                    margin: 0 auto;
                    width: 96%;

                    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
                    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
                    display: -ms-flexbox; /* TWEENER - IE 10 */
                    display: -webkit-flex; /* NEW - Chrome */
                    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

                    @media screen and (max-width: $tablet-v) {
                        width: 100%;
                    }

                    &.reverse {
                        flex-flow: row-reverse;

                        @media screen and (max-width: $mobile-h) {
                            flex-flow: row;
                        }
                    }

                    .list-col {
                        width: 50%;
                        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
                        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
                        display: -ms-flexbox; /* TWEENER - IE 10 */
                        display: -webkit-flex; /* NEW - Chrome */
                        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

                        flex-direction: column;
                        flex-wrap: wrap;
                        flex-flow: row wrap;

                        @media screen and (max-width: $mobile-h) {
                            width: 90%;
                            margin-right: 1%;
                            flex-wrap: nowrap;
                        }

                        .list-item {
                            background: none;
                            list-style: none;

                            flex: 1 1 49.5%;
                            margin-right: 0.5%;

                            @media screen and (max-width: $mobile-h) {
                                min-width: 300px;
                                margin-right: 1%;
                            }

                            .list-content {
                                position: relative;
                                display: block;

                                &:before {
                                    padding-top: 50%;
                                }

                                .badge-container{
                                    width: 20%;
                                    position: absolute;
                                    right: 0;
                                    top: 5px;
                                    margin-bottom: 5px;
                                    z-index: $lv2;

                                    .priceRange-icon{
                                        width: 100%;

                                        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
                                        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
                                        display: -ms-flexbox;      /* TWEENER - IE 10 */
                                        display: -webkit-flex;     /* NEW - Chrome */
                                        display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

                                        -ms-flex-wrap: wrap;
                                        -webkit-flex-wrap: wrap;
                                        flex-wrap: wrap;

                                        .priceRange-type-img{
                                            width: 100%;
                                            background-size: 50%;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-image: url('/images/campaign/oneyearanniversary/icon-discount.png');

                                            @media screen and (max-width: $mobile-h) {
                                                background-size: 50%;
                                            }

                                            &:before{
                                                content: "";
                                                display: block;
                                                padding-top: 60%;
                                            }
                                        }

                                        .priceRange-type-text{
                                            width: 100%;
                                            font-size: 0.78em;
                                            color: $white;
                                            text-align: center;
                                            text-transform: capitalize;
                                            text-shadow: rgba(0, 0, 0, 0.5) 0.05em 0.05em 0.1em;;
                                        }
                                    }

                                }

                                .banner {
                                    width: 100%;
                                    overflow: hidden;
                                    position: relative;

                                    &:before {
                                        content: "";
                                        padding-top: 75%;
                                        display: block;
                                    }

                                    .bg {
                                        top: -100%;
                                        left: 0;
                                        right: 0;
                                        bottom: -100%;
                                        margin: auto;
                                        margin-left: 50%;
                                        transform: translateX(-50%);
                                        opacity: 0;
                                        width: auto;
                                        height: 100%;
                                        position: absolute;
                                    }
                                }
                                .content {
                                    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
                                    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
                                    display: -ms-flexbox; /* TWEENER - IE 10 */
                                    display: -webkit-flex; /* NEW - Chrome */
                                    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
                                    flex-wrap: wrap;
                                    -webkit-flex-wrap: wrap;

                                    align-content: center;
                                    align-items: center;

                                    transition: $fadeIn;
                                    -webkit-transition: $fadeIn;

                                    padding: $padding;

                                    @media screen and (max-width: $tablet-v) {
                                        padding: 10px;
                                    }

                                    @media screen and (max-width: $mobile-v) {
                                        padding: $padding;
                                    }

                                    h3 {
                                        font-weight: 500;
                                        color: $white;
                                        font-size: 1.2em;
                                        line-height: 1.2;
                                        min-height: 46px;
                                        overflow: hidden;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 5;
                                        -webkit-box-orient: vertical;

                                        width: 100%;

                                        @media screen and (max-width: $mobile-h) {
                                            font-size: 1.4em;
                                            width: 100%;
                                            -webkit-line-clamp: 3;
                                            min-height: 75px;
                                        }
                                    }

                                    .desc {
                                        font-size: 1em;
                                        overflow: hidden;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        text-align: left;
                                        padding: 0;
                                        margin: 0;
                                        width: 100%;
                                        display: none;

                                        @media screen and (max-width: $tablet-h) {
                                            font-size: 1em;
                                        }

                                        @media screen and (max-width: $mobile-v) {
                                            font-size: 1em;
                                            display: none;
                                        }
                                    }

                                    .price{
                                        text-align: left;
                                        color: $white;

                                        font-size: 1.5em;
                                        font-weight: 700;

                                        .ori-price {
                                            font-size: 0.8em;
                                            color: $white;
                                            opacity: .5;
                                            text-decoration: line-through;
                                        }
                                    }

                                    .bottom {
                                        width: 100%;
                                        margin: 0;
                                        padding: 0;

                                        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
                                        display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
                                        display: -ms-flexbox; /* TWEENER - IE 10 */
                                        display: -webkit-flex; /* NEW - Chrome */
                                        display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
                                        flex-wrap: wrap;

                                        @media screen and (max-width: $tablet-h) {
                                            margin-top: 0;
                                        }

                                        @media screen and (max-width: $mobile-h) {
                                            padding-top: 0;
                                        }

                                        .hashtag-container {
                                            display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
                                            display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
                                            display: -ms-flexbox; /* TWEENER - IE 10 */
                                            display: -webkit-flex; /* NEW - Chrome */
                                            display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
                                            flex-wrap: wrap;
                                            width: 100%;

                                            .hashtag {
                                                font-size: 0.8em;
                                                color: $light-grey;
                                                margin-right: 10px;

                                                @media screen and (max-width: $mobile-v) {
                                                    font-size: 0.8em;
                                                }
                                            }
                                        }

                                        .location, .btn-container {
                                            color: $white;
                                            flex: 0 0 50%;
                                            width: 50%;

                                            &.btn-container{
                                                text-align: right;

                                                .btn{
                                                    background: $green;
                                                    border: 1px solid $green;
                                                }
                                            }
                                        }
                                    }
                                }

                                .price-container {
                                    background-color: $deep-green;
                                    color: $white;
                                    padding: 5px $padding;
                                    margin-top: 10px;
                                    text-align: center;
                                    display: none;

                                    .discount-price {
                                        font-size: 1.2em;

                                        @media screen and (max-width: $mobile-v) {
                                            font-size: 1em;
                                        }

                                        @media screen and (max-width: $mobile-xs) {
                                            font-size: 0.8em;
                                        }

                                        .ori-price {
                                            font-size: 0.8em;
                                            color: $white;
                                            opacity: .5;
                                            text-decoration: line-through;
                                        }
                                    }
                                }
                            }

                            &.highlight {
                                .content {

                                    h3 {
                                        font-size: 1.8em;
                                        line-height: 1.5;

                                        @media screen and (max-width: $mobile-h) {
                                            font-size: 1.5em;
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.row-with-4-items {
                    .list-col {
                        width: 100%;

                        .list-item {
                            flex: 1 1 24.5%;
                            margin-right: 0.5%;
                            background-color: $light-green;

                            &:last-child {
                                margin-right: 0%;
                            }

                            .list-content{
                                height: calc(100% - 35px);
                            }
                        }
                    }
                }

                &.row-with-6-items {
                    .list-col {
                        width: 100%;

                        .list-item {
                            flex: 0 0 32.333%;
                            width: 32.333%;
                            margin-right: 1%;
                            margin-bottom: 1%;
                            background: #7ecbc7;

                            @media screen and (max-width: $tablet-v) {
                                flex: 0 0 49%;
                            }

                            &:last-child {
                                margin-right: 0%;
                            }

                            .list-content{
                                height: calc(100% - 35px);
                            }
                        }
                    }
                }
            }
        }

        .see-more-container{
            margin: 0 auto;
            text-align: center;

            .see-more {
                background: $green;
                margin-bottom: 50px;
            }
        }
    }

    section.adv{

        @media screen and (max-width: $mobile-v){
            padding: 10px 0;
        }

        img{
            width: 90%;
            margin-left: 5%;

            @media screen and (max-width: $mobile-v) {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    section.terms {
        width: 100%;
        background: #9aebe5;

        div.terms{
            width: 80%;
            margin: 0 auto;

            @media screen and (max-width: $mobile-v) {
                width: 100%;
            }
        }

        p{
            line-height: 1.5;
            word-break: break-word;
            word-wrap: break-word;
            font-size: 0.86em;
            text-align: left;
            font-weight: 400;
        }
    }

    .floating-icons {
        font-size: 1.2em;
        position: fixed;
        right: 0;
        bottom: 40%;
        cursor: pointer;
        z-index: 100000;
        display: none;
        opacity: 0;

        @media screen and (max-width: $mobile-h) {
            display: none !important;
        }

        &.show {
            display: block;
            opacity: 0.9;
        }

        & > div {
            display: block;
            padding: 5px 15px;
            margin-bottom: 2px;
            box-shadow: $shadow;
            background: $light-green;

            display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox; /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Chrome */
            display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */

            &.active {
                background: $green;
            }

            h6 {
                font-size: 1em;
                color: $white;
                font-weight: 800;
            }
        }
    }

    section#spotlight {
        margin-bottom: 20px;

        .container-fluid {
            padding: 30px 0;
            width: 100%;

            @media screen and (max-width: $tablet-v) {
                width: calc(100% - 10px);
                margin: 0 auto;
            }
        }

        .main-logo-container {
            -webkit-justify-content: center;
            justify-content: center;
            text-align: center;
            margin-bottom: 10px;

            h2 {
                color: $white;
            }
        }

        .list-item {
            flex: 1 1 24.5%;
            margin-right: 0.5%;
            padding: $padding;
            background: #7ecbc7;

            @media screen and (max-width: $tablet-h) {
                flex: 0 0 calc(100% / 4.5);
                min-width: 0;
            }

            @media screen and (max-width: $tablet-v) {
                flex: 0 0 calc(100% / 3.5);
                min-width: 0;
            }

            @media screen and (max-width: $mobile-h) {
                min-width: 300px;
            }

            a {
                background-color: $deep-green;
            }
        }

        .slick-slide{
            flex: 1 1 24.3%;
            margin-right: 0.2%;
        }

        h2, h3, p.desc {
            color: $white;
        }
    }

}

body.zh-hk, body.zh-cn{
    #one-year-anniversary section.coupon .coupon-container .coupon .code-container h3{
        line-height: 46px !important;
    }
}
