<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>fayfay.com</title>
  <% include ../include/css.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/account.css">
</head>

<body>
<div id="page">
  <% include account.header.ejs %>

  <section class="account-section bg-light-grey">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-8 col-xs-12 myaccount-content">
          <% if(isSuccess) { %>
          <div class="alert alert-success">
            <%= message %>
          </div>
          <% } else { %>
          <div class="alert alert-warning">
            <%= message %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </section>
  <div id="root"></div>

  <% include ../include/footer.ejs %>
  <% include ../include/js.ejs %>
</div>
</body>
</html>
