<section class="joinus-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12">
                <h1><%= translations['join.us'] %></h1>
                <hr />
                <p><%= translations['join.us.desc'] %></p>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="whitebox">
                            <h5>Operations Intern</h5>
                            <div class="location"><i class="icon map-marker-alt"></i>Vietnam</div>
                            <p class="desc">
                                We are looking for enthusiastic Operations interns to join our team and provide operational support for our travel products and services in Vietnam on our e-commerce platform.
                            </p>
                            <p class="desc">
                                You will be involved in every aspect of the operational side of the business and will assist in exceeding our customers’ expectations. You will also be highly organized with excellent attention to detail and people skills.
                            </p>
                            <p class="desc">
                                This  internship  will  help  you  acquire  skills  and  provide  you  with  deeper  knowledge  of  Vietnam  as  a  tourism destination as you will be working with a wide range of partners and suppliers in the tourism industry. Ultimately, you will gain broad experience that will help you be prepared to enter the tourism industry.
                            </p>
                            <b>Job Duties</b>
                            <p class="desc">
                            <ul>
                                <li>Managing the entire customer experience from enquiry through to post trip follow-up</li>
                                <li>Ensure bookings are efficiently processed and client requests are met</li>
                                <li>Communicate with business partners and respective teams for support</li>
                                <li>Provide general administrative support to all business functions and ad hoc duties to assist in the running of the office</li>
                            </ul>
                            </p>
                            <b>Skills & Requirements</b>
                            <p class="desc">
                                <ul>
                                    <li>Strong passion for Vietnam travel, and knowledge of Vietnam as a tourism destination•The ability to communicate and collaborate effectively in Vietnamese and English</li>
                                    <li>A high level of motivation and a strong work ethic with the ability to work on your own initiative, in a small entrepreneurial business</li>
                                    <li>Ability to read and write Chinese is a plus</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="whitebox">
                            <h5>Marketing & Business Development Intern</h5>
                            <div class="location"><i class="icon map-marker-alt"></i>Vietnam</div>
                            <p class="desc">
                                We are looking for enthusiastic Marketing & BD interns to join our team and provide creative ideas to help promote traveling in Vietnam. You will have administrative duties in developing and implementing BD & marketing plans for our e-commerce platform.
                            </p>
                            <p class="desc">
                                You will collaborate with our teams in realizing innovative travel products and services in Vietnam, contributing to the development, expansion and achieving our BD & marketing goals.<br>
                            </p>
                            <p class="desc">
                                This internship will help you acquire BD & marketing skills and provide you with knowledge of a variety of industry and BD activities. Ultimately, you will gain broad experience that will help you be prepared to enter a fast-paced work environment such as e-commerce industry.
                            </p>
                            <b>Job Duties</b>
                            <p class="desc">
                            <ul>
                                <li>Assist in the planning, preparing and drafting of marketing materials</li>
                                <li>Contribute research and ideas for potential products and services</li>
                                <li>Prepare presentations for pitching to potential business partners</li>
                                <li>Carry out administrative, data entry-related and filing tasks</li>
                            </ul>
                            </p>
                            <b>Skills & Requirements</b>
                            <p class="desc">
                            <ul>
                                <li>Strong passion for Vietnam travel</li>
                                <li>Good English writing skills, as well as the ability to communicate and collaborate effectively</li>
                                <li>The ability to consistently meet tight deadlines</li>
                                <li>Knowledge of digital marketing tactics, including SEO and experience using WordPress would be an advantage</li>
                                <li>Ability to read and write Chinese is a plus</li>
                            </ul>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="whitebox">
                            <h5>Software Engineer</h5>
                            <div class="location"><i class="icon map-marker-alt"></i>Vietnam</div>
                            <p class="desc">
                                We are hiring Software Engineering developers with deep e-commerce knowledge in delivering ecommerce solution, working with international team, and who is a great team player. We are looking for innovative, passionate for technology, highly motivated, goal-oriented individuals who will be responsible for building highly visible, highly available, and customer facing E-Commerce solutions.
                            </p>
                            <b>Job Duties</b>
                            <p class="desc">
                            <ul>
                                <li>Build large, high-volume and responsive ecommerce web application.</li>
                                <li>Work with business and technology colleagues in self-directed high-ownership teams.</li>
                                <li>Develop high quality, scalable, and maintainable code.</li>
                                <li>Plan and perform unit and integration tests via automation to fully test and regress software.</li>
                                <li>Drive continuous integration and continuous delivery.</li>
                                <li>Cultivate engineering excellence practices in the team.</li>
                            </ul>
                            </p>
                            <b>Skills & Requirements</b>
                            <p class="desc">
                            <ul>
                                <li>Knowledge in building web portals and/or ecommerce applications using the following technologies, HTML5, ASP.NET MVC, WCF/Web API, AJAX, JSON, jQuery, JavaScript, CSS, NServiceBus, NHibernate or any other ORM, StructureMap, AutoMapper, log4Net, ReSharper, TeamCity.</li>
                                <li>Strong .NET Framework skills.</li>
                                <li>Experience with T-SQL and SQL Server 2005/2008/2012.</li>
                                <li>Experience with TDD/BDD. Unit testing with frameworks similar to NUnit or SpecFlow and Mocking frameworks similar to Rhino Mocks and Moq, Integration Testing, and System Testing abilities, including automated testing techniques using Selenium or similar tool.</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 txt-center marginBottom-20px">
                        <a href="mailto:travel@fayfay.com" class="btn btn-lg"><%= translations['join.us.submit.your.resume.now'] %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
