<div class="row">
    <div class="col-md-5 col-sm-6">
        <div class="greybox">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1 col-xs-1 txt-right nopadding-right">
                            <i class="icon lock marginTop-10px"></i>
                        </div>
                        <div class="col-md-11 col-xs-10 ">
                            <h5> Data Security</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Your details are safe with us. All data is encrypted and transmitted securely with an SSL protocol.
                                <a href="#">Privacy Statement</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-sm-6">
        <div class="greybox">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-1 col-xs-1 txt-right nopadding-right">
                            <i class="icon question marginTop-10px"></i>
                        </div>
                        <div class="col-md-11 col-xs-10 nopadding-right">
                            <h5> Common Questions</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="listing">
                                <li>How do I pay?</li>
                                <li>Can I pay by cash?</li>
                                <li>Do you have a physical office for me to buy from?</li>
                                <li>Is my payment secure?</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-1 col-xs-1 txt-right nopadding-right">
                            <i class="icon phone marginTop-10px"></i>
                        </div>
                        <div class="col-md-11 col-xs-10 ">
                            <h5>Contact Us</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="listing">
                                <li>(+852) 1234-5678 (Global)</li>
                                <li>(+886) 2-1234-5678 (Vietnam)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>