    <div class="row">
        <div class="col-sm-12">
            <div class="greybox activity">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="banner">
                            <img src="/images/danang.jpg">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="content">
                            <h4>Dan Dang Day Trip</h4>
                        </div>
                        <hr class="hidden-sm">
                        <div class="row date">
                            <div class="col-md-12 col-sm-7 col-xs-7 title">
                                <h5>Date</h5>
                            </div>
                            <div class="col-md-12 col-sm-5 col-xs-5"><p> 14 March 2018</p></div>
                        </div>

                        <hr>
                        <div class="travelers">
                            <h5>Travelers</h5>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">Adult x 4</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 txt-right">HKD $2000</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">Child x 2</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 txt-right">HKD $2500</div>
                            </div>
                        </div>
                        <hr>
                        <div class="total">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6"><span class="order-total">Order Total</span></div>
                                <div class="col-md-6 col-sm-6 col-xs-6 txt-right"><span class="order-price">HKD $4,500</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="greybox activity">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="banner">
                            <img src="/images/danang.jpg">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-6">
                        <div class="content">
                            <h4>Dan Dang Day Trip</h4>
                        </div>
                        <hr class="hidden-sm">
                        <div class="row date">
                            <div class="col-md-12 col-sm-7 col-xs-7 title">
                                <h5>Date</h5>
                            </div>
                            <div class="col-md-12 col-sm-5 col-xs-5"><p> 14 March 2018</p></div>
                        </div>

                        <hr>
                        <div class="travelers">
                            <h5>Travelers</h5>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">Adult x 4</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 txt-right">HKD $2000</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">Child x 2</div>
                                <div class="col-md-6 col-sm-6 col-xs-6 txt-right">HKD $2500</div>
                            </div>
                        </div>
                        <hr>
                        <div class="total">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6"><span class="order-total">Order Total</span></div>
                                <div class="col-md-6 col-sm-6 col-xs-6 txt-right"><span class="order-price">HKD $4,500</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>