<section id="thankyou-more-section">
    <div class="container-fluid">
        <div class="main-logo-container">

            <h4><%= translations['People Also View'] %></h4>
        </div>
        <div class="result-container">
                <ul class="loaded-list">

                    <li class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/pop_1.jpg">
                            </div>
                            <div class="content">
                                <h5>Ayutthaya Day Trip with Sunset Boat Ride</h5>
                            </div>
                            <div class="price">
                                <span class="currency">HKD$</span>
                                12345678
                            </div>
                            <div class="bottom">
                                <% include ../components/location.ejs %> <% include ../components/rating.ejs %>
                            </div>
                    </li>

                    <li class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/pop_4.jpg">
                            </div>
                            <div class="content">
                                <h5>Ayutthaya Day Trip with Sunset Boat Ride</h5>
                            </div>
                            <div class="price">
                                <span class="currency">HKD$</span>
                                12345678
                            </div>
                            <div class="bottom">
                                <% include ../components/location.ejs %> <% include ../components/rating.ejs %>
                            </div>
                    </li>

                    <li class="list-item">
                        <div class="list-content">
                            <div class="banner">
                                <img src="/images/pop_1.jpg">
                            </div>
                            <div class="content">
                                <h5>Ayutthaya Day Trip with Sunset Boat Ride</h5>
                            </div>
                            <div class="price">
                                <span class="currency">HKD$</span>
                                12345678
                            </div>
                            <div class="bottom">
                                <% include ../components/location.ejs %> <% include ../components/rating.ejs %>
                            </div>
                    </li>
                </ul>
        </div>
</section>