<div class="panel-group" id="panel-coupons">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#panel-coupons" href="#coupon1"><%= translations['help.coupon.title'] %></a>
            </h4>
        </div>
        <div id="coupon1" class="panel-collapse collapse">
            <div class="panel-body"><%- translations['help.coupon.desc'] %></div>
        </div>
    </div>

</div>
